<section class="problem-statement">
  <div class="problem-statement__content">
    <h2 class="section-title">Nearcare répond à plusieurs problématiques</h2>
    <div class="problem-statement__stats">
      <article class="stat">
        <p class="stat-text">Dans les établissements de santé, plus de deux soignants sur trois évoquent des problèmes d'organisation et des conditions de travail inadaptées.</p>
      </article>
      <article class="stat">
        <p class="stat-text">Parallèlement, 65% des patients hospitalisés ressentent un manque de disponibilité des soignants.</p>
      </article>
    </div>
    <p class="section-warning">
      Le constat est sans appel, les soignants sont en souffrance et l'expérience patient pourrait vite en subir les conséquences!!
    </p>
  </div>
</section>
