<nav class="navbar-wrapper" 
  [class.hidden]="isHidden()" 
  (mouseenter)="onMouseEnter()" 
  (mouseleave)="onMouseLeave()"
>
  <div class="navbar-container">
    <div class="navbar-content">
      <div class="logo-container">
        <img src="Logo.png" alt="NearCare Logo" class="logo" />
      </div>

      <div class="nav-links" #navLinks>
        <div 
          class="nav-underline"
          [style.left]="underlineLeft()"
          [style.width]="underlineWidth()"
        ></div>
        <div 
          *ngFor="let item of menuItems" 
          class="nav-link-wrapper"
        >
          <ng-container *ngIf="item.path; else plainLabel">
            <a
              #navLink
              [attr.data-label]="item.label"
              [class.active]="item.label === activeLabel"
              class="nav-link"
              [routerLink]="item.path"
            >
              {{ item.label }}
            </a>
          </ng-container>
          <ng-template #plainLabel>
            <span
              #navLink
              [attr.data-label]="item.label"
              [class.active]="item.label === activeLabel"
              class="nav-link"
            >
              {{ item.label }}
            </span>
          </ng-template>
        </div>
      </div>

      <div class="cta-wrapper">
        <div class="cta-gradient"></div>
        <div class="cta-text">Wow, montrez moi ça !</div>
      </div>
    </div>
  </div>
</nav>