.about {
  position: relative;
  padding: 120px 0 160px;
  background: var(--gradient-about-bg);
  overflow: hidden;
}

.about-decoration {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 167px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  
  .slide-svg {
    width: 843px;
    height: 167px;
    object-fit: contain;
  }
}

.container {
  position: relative;
  z-index: 1;
}

.about-heading {
  font-family: var(--font-family-heading);
  font-size: 64px;
  font-weight: 800;
  line-height: 65px;
  color: var(--color-dark-blue);
  text-align: center;
  max-width: 1302px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .about {
    padding: 100px 0 140px;
  }
  
  .about-heading {
    font-size: 48px;
    line-height: 54px;
  }
  
  .about-decoration .slide-svg {
    width: 100%;
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  .about {
    padding: 80px 0 100px;
  }
  
  .about-heading {
    font-size: 32px;
    line-height: 40px;
  }
  
  .about-decoration {
    height: 100px;
    
    .slide-svg {
      max-width: 500px;
      height: 100px;
    }
  }
}
